[[source]]

name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[dev-packages]

pytest = "*"
pytest-recording = "*"
pytest-asyncio = "*"


[packages]

uplink = "==0.9.0"
aiohttp = "*"
ipympl = "==0.3.3"
jupyterlab = "==1.2.4"
jupyterlab-git = "==0.8.1"
jupyterlab-dash = "==0.1.0a3"


[requires]

python_version = "3.7"
