[[source]]

name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[dev-packages]

pytest = "*"
pytest-recording = "==0.3.3"
pytest-asyncio = "*"


[packages]

uplink = "*"
aiohttp = "*"


[requires]

python_version = "3.7"
